GW2RaidTool
GW2EI
RaidHeros
*.dll
*.dll.back
arcdps.cbtlogs
arcdps.mechanics
arcdps.webhook_posts
ev-encounters-list.txt
upload_logs_time.json
arcdps.uploadextras
arcdps.startmap
evraids.formatted
access_token.json
client_secret.json
upload_log.txt
format_encounters_log.txt
format_encounters_time.json
l0g-101086-config.json
simpleArcParse/simpleArcParse.depend
simpleArcParse/simpleArcParse.layout
simpleArcParse/simpleArcParse.cbp
l0g-101086-pub.cer
l0g-101086-cert.pfx
*.lnk
simpleArcParse/.vs/
simpleArcParse/simpleArcParse.vcxproj
simpleArcParse/simpleArcParse.vcxproj.filters
simpleArcParse/simpleArcParse.vcxproj.user
simpleArcParse/x64
simpleArcParse/x86
simpleArcParse/Debug
simpleArcParse/Release

